body {
    font-family: 'Georgia', serif;  
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-top: 30px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
}

.input-container {
    background-color: #1f1f1f;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
}

.input-container label {
    font-size: 20px;
    color: #bbb;
    margin-bottom: 10px;
    display: block;
}

.input-container input[type="text"],
.input-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.input-container button {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #8a3fff; 
    color: white;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #6a1e9f; 
}

.input-container #number1,
.input-container #number2 {
    font-size: 18px;
    color: #333;
}

.visualization-container {
    background-color: #121212;
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

#canvas-container {
    width: 100%;
    height: 600px;
    overflow: auto;
    position: relative;
}

#calculations-container h3 {
    color: #8a3fff;
    font-size: 22px;
}

#calculations-list {
    list-style-type: none;
    padding: 0;
}

li {
    color: #bbb;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
}

li + li {
    margin-top: 10px;
}

#result-container {
    color: #bbb;
    font-size: 20px;
    margin-top: 20px;
}

#result-container h3 {
    color: #8a3fff;
}

.visualization-container {
    flex-grow: 1;
    padding: 20px;
    position: relative;
    overflow: auto;  
    max-height: 100vh;
    max-width: 100vw;
}

#canvas-container {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    width: 100%; /* Allow the container to expand */
    overflow-x: auto; /* Enable horizontal scrolling */
    position: relative;
}


canvas {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(223, 224, 229, 0.2);
    display: block;  /* Ensure it takes full width */
    min-width: 100%;
}

