/* 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body {
  font-family: 'Georgia', serif;
  background-color: #bbb2b2;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

h4 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.MuiFormControl-root {
  margin-bottom: 15px;
  width: 100%;
}

.MuiSelect-root {
  background-color: #1f1f1f;
  color: #bbb;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.MuiInputLabel-root {
  color: #bbb;
}

.MuiSelect-icon {
  color: #bbb;
}

.MuiMenuItem-root {
  background-color: #bbb;
  color: black;
}

.MuiMenuItem-root:hover {
  background-color: #2c3871;
  color: #bbb;
}

.MuiMenuItem-root.Mui-selected {
  background-color: #2c3871 !important;
  color: white !important;
}

.MuiMenuItem-root.Mui-selected:hover {
  background-color: #23275f !important;
  color: white !important;
}

Button {
  background-color: #8a3fff;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  width: 100%;
}

Button:disabled {
  background-color: #6a1e9f;
}

Button:hover {
  background-color: #091b32;
}

@media (max-width: 600px) {
  h4 {
    font-size: 30px;
  }

  Button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .MuiFormControl-root {
    width: 100%;
  }
}